:root{
    --white: #FFFFFF;
    --black: #000000; 
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
}
body {
    margin:0;
    font-family:'Courier New', Courier, monospace;
}
.order2{
    display: grid;
      grid-template-columns: auto 1fr;
      gap: 16px;
      align-items: center;
      background-color: var(--text-input-field);
      margin-bottom: 24px;
      border-radius: 8px;
      padding: 0 24px;
}
.product-detail2{
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
.title-container{
    display: flex;
    align-items: center;
}
.title-container img{
    transform: rotate(180deg);
    margin-right:14px ;
    width: 20px;
    height: 20px;
}
.title2{
    font-size: 20px;
    font-weight: bold;
}
.order2 p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order2 p span:nth-child(1){
    font-size: 18px;
    font-weight: bold;
}
.order2 p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.shopping-card2{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-card2 figure {
    margin: 0;
}
.shopping-card2 figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-card2 p:nth-child(2){
    color: var(--very-light-pink);
}
.shopping-card2 p:nth-last-child(3){
    font-size: 18px;
    font-weight: bold;
}.close{
    width: 24px;
    height: 24px;
}
.primary-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
}
@media (max-width: 640px) {
    .product-detail2{
        width: 100%;
    }
  }
